<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="LGD Chełmno to stowarzyszenie, które tworzą organizacje pozarządowe, przedsiębiorcy, Gmina Miasto Chełmno i mieszkańcy Chełmna - to realne, międzysektorowe ...">
    <meta name="keywords" content="lgd, chełmno, LGD, lgdchelmno, granty, projekty, lsr, grudziądzka, grudziądzka36, stowarzyszenie">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/8a6ff19da0.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/favicon.png" type="image/png">
    <script src="/script.js"></script>
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>

    {% include 'header.njk' %}

    {{ content | safe }}

    {% include 'footer.njk' %}

    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
                if (!user) {
                    window.netlifyIdentity.on("login", () => {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
    <!-- MailerLite Universal -->
<script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '797878');
</script>
<!-- End MailerLite Universal -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js"></script>
<script src="/cookies.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  
  gtag('config', getAnalyticsIdFromCookies() || window.GOOGLE_ANALYTICS_ID || 'default_id');
</script>





</body>
</html>
