<div class="aklualnosc-wpis">
    <div class="aktualnosc-tekst">
        <h3><a href="{{ dzialaj_lokalnie.url }}">{{ dzialaj_lokalnie.data.title }}</a></h3>
        <h6>{{ dzialaj_lokalnie.data.date | postDate }}</h6>
        <p>{{ dzialaj_lokalnie.data.description }}</p>
        <a href="{{ dzialaj_lokalnie.url }}">
            <div class="czytaj-btn">Czytaj dalej &rightarrow;</div>
        </a>
    </div>
    <div class="aktualnosc-zdjecie">
        <img src="{{ dzialaj_lokalnie.data.image }}" alt="{{ post.data.imageAlt }}">
    </div>
</div>