<div class="projekty-wpis">
    <div class="projekty-tekst">
        <h3><a href="{{ dzialania_statutowe.url}}">{{ dzialania_statutowe.data.title }}</a></h3>
        <h6>{{ dzialania_statutowe.data.date | postDate }}</h6>
        <p> {{ dzialania_statutowe.data.description }} </p>
        <a href="{{ dzialania_statutowe.url }}">
            <div class="czytaj-btn">Czytaj dalej &rightarrow;</div>
        </a>
    </div>
    <div class="projekty-zdjecie">
        <img src="{{ dzialania_statutowe.data.image }}" alt="{{ imageAlt }}">
    </div>
</div>