    <footer>
        <div class="baner">
            <img src="../assets/baner-kolor.jpg" alt="banner">
        </div>
        <div class="footer-content">
            <div class="social-media">
                <p>Social Media:</p>
                <a href="https://www.facebook.com/LGDChelmno/?fref=ts" target="blank"><img
                        src="/assets/iconmonstr-facebook-6-48.png" alt="ikona facebook"></a>
                <img src="/assets/iconmonstr-youtube-8-48.png" alt="ikona youtube">
            </div>
            <div class="footer-polecamy">
                <p>Polecamy:</p>
                <ul>
                    <li><a href="https://chelmno.pl/pl/" target="blank">Chełmno Nassze Miasto</a></li>
                    <li><a href="https://www.ngo.pl/" target="blank">ngo.pl Portal Organizacji Pozarządowych</a></li>
                    <li><a href="https://www.kujawsko-pomorskie.pl/" target="blank">Województwo Kujawsko-Pomorskie</a>
                    </li>
                </ul>
            </div>
            <div class="footer-kontakt">
                <p>Kontakt:</p>
                <ul>
                    <li>
                        <div class="icon"><i class="fa-solid fa-user-tie" style="color: #ffffff;"></i></div>Dyrektor
                        Biura – Anna Cyrklaff-Muzolf
                    </li>
                    <li>
                        <div class="icon"><i class="fa-solid fa-user-tie" style="color: #ffffff;"></i></div>Specjalista
                        ds. administracyjno-biurowych – Marcin Kropidłowski
                    </li>
                    <li>
                        <div class="icon"><i class="fa-solid fa-location-dot" style="color: #ffffff;"></i></div>ul.
                        Grudziądzka 36, parter (wejście od ul. Podmurnej), 86-200 Chełmno
                    </li>
                    <li>
                        <div class="icon"><i class="fa-solid fa-clock" style="color: #ffffff;"></i></div>Biuro czynne:
                        pn-pt 7:15 – 15:15
                    </li>
                    <li class="space">
                        <div class="icon">
                            <i class="fa-solid fa-mobile" style="color: #ffffff;"></i>
                        </div>
                        kom:<a href="tell:501 388 474"> 501 388 474</a> lub <a href="tell:517 398 043"> 517 398 043</a>
                    </li>
                    <li>
                        <div class="icon"><i class="fa-solid fa-envelope" style="color: #ffffff;"></i></div><a
                            href="mailto:lgdchelmno@wp.pl">lgdchelmno@wp.pl</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
