 <header class="topnav" id="myTopnav">
        <a href="index.html" class="active"><img src="./assets/lgd_logo.png" alt="Lokalna Grupa Działania Chełmno"></a>
        <nav class="topnav" id="myTopnav">
            <div id="myLinks">
                <button class="nav-button"><a href="./aktualnosci.html">Aktualności</a></button>

                <button class="dropbtn nav-button" onclick="toggleServices()">Stowarzyszenie</button>
                <div class="dropdown-content-sto" id="servicesDropdown">
                    <a href="./stowarzyszenie.html">O nas</a>
                    <a href="./statutlgd.html">Statut LGD</a>
                    <a href="./radalgd.html">Rada LGD</a>
                    <a href="./zarzadlgd.html">Zarząd LGD</a>
                    <a href="./komisja-rewizyjnalgd.html">Komisja Rewizyjna LGD</a>
                    <a href="./czlonkostwolgd.html">Członkostwo w LGD</a>
                    <a href="./rodo.html">RODO</a>
                </div>


                <button class="dropbtn nav-button" onclick="toggleLsr()">LSR</button>
                <div class="dropdown-content-lsr" id="lsrDropdown">
                    <a href="#">LSR 2021-2027</a>
                    <a href="#">Monitoring i ewaluacja 2016-2020</a>
                    <a href="./lsr-2016.html">LSR 2016-2020</a>
                </div>

                <button class="nav-button"><a href="./konkursy.html">Konkursy</a></button>
                <button class="nav-button"><a href="./projekty.html">Projekty</a></button>
                <button class="nav-button"><a href="./nasze-dzialania.html">Nasze działania</a></button>
                <button class="nav-button"><a href="./kontakt.html">Kontakt</a></button>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </nav>
    </header>