<header class="topnav" id="myTopnav content">
    <a href="/index.html" class="active"><img src="/assets/lgd_logo.png" alt="Lokalna Grupa Działania Chełmno"></a>
    <nav class="topnav" id="myTopnav">
        <div id="myLinks">
            <button class="nav-button"><a href="/aktualnosci/">Aktualności</a></button>

            <button class="dropbtn nav-button" onclick="toggleServices()">Stowarzyszenie</button>
            <div class="dropdown-content-sto" id="servicesDropdown">
                <a href="/stowarzyszenie/">O nas</a>
                <a href="/statutlgd/">Statut LGD</a>
                <a href="/radalgd/">Rada LGD</a>
                <a href="/zarzadlgd/">Zarząd LGD</a>
                <a href="/komisja-rewizyjnalgd/">Komisja Rewizyjna LGD</a>
                <a href="/czlonkostwolgd/">Członkostwo w LGD</a>
                <a href="/rodo/">RODO</a>
            </div>

            <button class="nav-button"><a href="/lsr-2016/">LSR</a></button>
            <button class="nav-button"><a href="/konkursy/">Konkursy</a></button>
            <button class="nav-button"><a href="/projekty/">Dobre praktyki</a></button>
            <button class="nav-button"><a href="/nasze-dzialania/">Nasze działania</a></button>
            <button class="nav-button"><a href="/dzialaj-lokalnie/">Działaj lokalnie</a></button>
            <button class="nav-button"><a href="/kontakt/">Kontakt</a></button>
        </div>
        <a class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>

    <div id="cookie-container">
        <p>W ramach naszej witryny stosujemy pliki cookies w celu świadczenia Państwu usług na najwyższym poziomie, w tym w sposób dostosowany do indywidualnych potrzeb. Korzystanie z witryny bez zmiany ustawień dotyczących cookies oznacza, że będą one zamieszczane w Państwa urządzeniu końcowym. Możecie Państwo dokonać w każdym czasie zmiany ustawień dotyczących cookies.</p>
        <button onclick="acceptCookies()">Rozumiem</button>
        <button onclick="disableAnalytics()">Wyłącz cookies</button>
    </div>


    <div id="accessibility-panel">
        <button onclick="underlineLinks()">Uwidocznij linki</button>
        <button id="contrast-btn" onclick="toggleContrast()">Wersja kontrastowa - czarny</button>
        <button id="contrast-btn-yellow" onclick="toggleContrastYellow()">Wersja kontrastowa - żółty</button>
        <button id="contrast-btn-green" onclick="toggleContrastGreen()">Wersja kontrastowa - zielony</button>
        <button id="fontUp-btn" onclick="toggleFontUp()">Większy tekst</button>
    </div>

        <button id="searchIcon">🔍</button>
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Wpisz słowo...">
            <button id="searchButton">Szukaj</button>
        </div>
</header>
