---
layout: 'base.njk'
---

<main class="aktualnosc-main">
    <article class="aktualnosc-article">
        <div class="aktualnosc-container">

            <img src="{{ image }}" alt="{{ imageAlt }}" class="aktualnosc-img">
            <h1 class="aktualnosc-title">
                {{ title }}
            </h1>

            {{ content | safe }}

            {% if files %}
            <div class="zalaczniki">
                <h2 class="zalacznik-h2">Załączniki:</h2>
                <ul>
                  {% for file in files %}
                    <li>
                      <a href="{{ file.url }}" target="_blank">
                        {{ file.fileName }}  
                      </a>
                    </li>
                  {% endfor %}
                </ul>
            </div>
              {% endif %}
            

            {% if gallery %}
            <div class="gallery">
                {% for item in gallery %}
                <div class="gallery-item">
                    <img src="{{ item.image }}" alt="{{ item.caption }}" class="gallery-image" onclick="showFullImage('{{ item.image }}')">
                </div>
                {% endfor %}
            </div>
            {% endif %}

        </div>
    </article>
</main>