<div class="projekty-wpis">
    <div class="projekty-tekst">
        <h3><a href="{{ projekty_grantowe.url}}">{{ projekty_grantowe.data.title }}</a></h3>
        <h6>{{ projekty_grantowe.data.date | postDate }}</h6>
        <p> {{projekty_grantowe.data.description }} </p>
        <a href="{{ projekty_grantowe.url }}">
            <div class="czytaj-btn">Czytaj dalej &rightarrow;</div>
        </a>
    </div>
    <div class="aktualnosc-zdjecie">
        <img src="{{ projekty_grantowe.data.image }}" alt="{{ imageAlt }}">
    </div>
</div>