---
title: LGD Chełmno - Aktualności
layout: 'base.njk'
pagination:
    data: collections.news
    size: 6
    alias: news
    reverse: true
---

    <main class="aktualnosci-page">
        <div class="container-aktualnosci">
            <div class="aktualnosci">
                <a href="./aktualnosci.html"><h1>Aktualności</h1></a>
                <div role="list" class="aktualnosci-container">
                    
                        {%- for news in news -%}
                            {% include 'news-snippet.njk' %}
                        {%- endfor -%}

                </div>
                {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}" class="arrow">&leftarrow;</a>{% endif %}
                {% if pagination.href.next %}<a href="{{ pagination.href.next }}" class="arrow">&rightarrow;</a>{% endif %}
            </div>
        </div>
    </main>

   