---
title: LGD Chełmno - Aktualności
layout: 'base.njk'
---

    <main class="aktualnosci-page">
        <div class="container-aktualnosci">
            <div class="aktualnosci">
                <a href="./aktualnosci.html"><h1>Aktualności</h1></a>
                <div role="list" class="aktualnosci-container">
                    
                    {%- for news in collections.news | reverse -%}
                        {% include 'news-snippet.njk' %}
                    {%- endfor -%}

                </div>
            </div>
        </div>
    </main>

    <!-- <div class="aklualnosc-wpis">
        <div class="aktualnosc-tekst">
            <h3>Nazwa wpisu</h3>
            <h6>data dodania</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam debitis nesciunt commodi quod itaque nobis asperiores eius vel esse obcaecati impedit ratione, doloremque ut illum aliquam officia? Ratione ad exercitationem beatae, quis tenetur commodi expedita laudantium eum itaque earum ipsa sed iusto labore architecto doloremque id, placeat quos eius perspiciatis?
            </p>
            <a href=""><div class="czytaj-btn">Czytaj dalej &rightarrow;</div></a>
        </div>
        <div class="aktualnosc-zdjecie">
            <img src="/assets/LGD.jpg" alt="">
        </div>
    </div> -->
   