---
title: LGD Chełmno - Członkostwo w LGD
layout: 'base.njk'
---
    <main class="czlonkostwolgd">
        <div class="container-czlonkostwo">
            <h1>Członkostwo w LGD</h1>
            <p>Lokalna Grupa Działania jest partnerstwem międzysektorowym składającym się z przedstawicieli instytucji
                publicznyhc (sektor publiczny), lokalnych partnerów społecznych (sektor społeczny), gospodarczych
                (sektor gospodarczy) oraz mieszkańców. LGD jest dobrowolnym, samorządowym, trwałym zrzeszeniem osób
                fizycznych i osób prawnych, w tym jednostek samorządu terytorialnego, mającym na celu ddziałąnie na
                rzecz obszaru Miata Chełmna.</p>
            <div class="zalacznik-czlonek">
                <h2>Załącznik:</h2>
                <a href="/assets/regulamin-zebrania-walnego.pdf" target="_blank">Regulamin Walnego Zebrania
                    Członków</a>
            </div>
            <h2>Członkami Stowarzyszenia mogą być:</h2>
            <ol>
                <li>osoby fizyczne, zamieszkujące na terenie Gminy Miasta Chełmno, które:</li>
                <ul>
                    <li>a) posiadają pełną zdolność do czynności prawnych i nie są pozbawione praw publicznych,</li>
                    <li>b) złożyły deklerację przystąpienia do Stowarzyszenia;</li>
                </ul>
                <li>osoby prawne, w tym jednostki samorządu terytorialnego z wyłączeniem samorządów województw,
                    działające na terenie Gminy Miasta Chełmno, które</li>
                <ul>
                    <li>a) złożyły deklarację przystąpioenia do Stowarzyszenia,</li>
                    <li>b) wskazały osobę reprezentującą je w Stowarzyszeniu.</li>
                </ul>
            </ol>
            <p>zapraszamy wszystkich zainteresowanych do wstąpienia do Stowarzyszenia i wspierania jego działalności.
            </p>
            <h2>Deklaracje do pobrania:</h2>
            <ul>
                <li>Mieszkaniec: <a href="/assets/DEKLARACJA-Osoba-fizyczna-1-mieszkaniec.pdf"
                        target="_blank">Deklaracja osoba fizyczna</a> + <a
                        href="/assets/oswiadczenie_o_zamieszkiwaniu.pdf" target="_blank">oświadczenie o
                        zamieszkaniu</a></li>
                <li>Sektor społeczny: <a href="/assets/DEKLARACJA-Osoba-prawna-3-sektor-spoleczny.pdf" target="_blank">Deklaracja osoba prawna (.pdf)</a></li>
                <li>Sektor Gospodarczy: <a href="/assets/DEKLARACJA-Osoba-fizyczna-prowadzaca-dzialalnosc-gospodarczą-1.pdf" target="_blank">Deklaracja osoba fizyczna prowadząca działalność
                        gospodarczą</a></li>
                <li>Sektor publiczny: <a href="/assets/DEKLARACJA-Osoba-prawna-3-sektor-publiczny.pdf" target="_blank">Deklaracja osoba prawna (.pdf)</a></li>
                <li>Rezygnacja z członkostwa: <a href="/assets/REZYGNACJA.pdf" target="_blank">Rezygnacja</a></li>
            </ul>
            <h2 class="h2-center">Członkowie Stowarzyszenia LGD Chełmno</h2>
            <a href="assets/Lista-czlonkow.xlsx" target="_blank">Lista Członków LGD Chełmno</a>
        </div>
    </main>
    