---
title: LGD Chełmno - Członkostwo w LGD
layout: 'base.njk'
---
    <main class="czlonkostwolgd">
        <div class="container-czlonkostwo">
            <h1>Członkostwo w LGD</h1>
            <p>Lokalna Grupa Działania jest partnerstwem międzysektorowym składającym się z przedstawicieli instytucji
                publicznych (sektor publiczny), lokalnych partnerów społecznych i mieszkańców (sektor społeczny) oraz gospodarczych
                (sektor gospodarczy). LGD jest dobrowolnym, samorządowym, trwałym zrzeszeniem osób
                fizycznych i osób prawnych, w tym jednostek samorządu terytorialnego, mającym na celu działanie na
                rzecz obszaru Miasta Chełmna.</p>
            <div class="zalacznik-czlonek">
                <h2>Załącznik:</h2>
<ul>
<li><a href="/assets/Regulamin Walnego Zebrania Członków - stan na 27.06.2024.pdf" target="_blank">Regulamin Walnego Zebrania
                    Członków stan na 27.06.2024</a></li>
                <li><a href="/assets/regulamin-zebrania-walnego.pdf" target="_blank">Regulamin Walnego Zebrania
                    Członków 2017 - 2024</a></li>
</ul>
            </div>
            <h2>Członkami Stowarzyszenia mogą być:</h2>
            <ol>
                <li>osoby fizyczne, zamieszkujące na terenie Gminy Miasta Chełmno, które:</li>
                <ul>
                    <li>a) posiadają pełną zdolność do czynności prawnych i nie są pozbawione praw publicznych,</li>
                    <li>b) złożyły deklarację przystąpienia do Stowarzyszenia;</li>
                </ul>
                <li>osoby prawne, w tym jednostki samorządu terytorialnego z wyłączeniem samorządów województw,
                    działające na terenie Gminy Miasta Chełmno, które</li>
                <ul>
                    <li>a) złożyły deklarację przystąpienia do Stowarzyszenia,</li>
                    <li>b) wskazały osobę reprezentującą je w Stowarzyszeniu.</li>
                </ul>
            </ol>
            <p>zapraszamy wszystkich zainteresowanych do wstąpienia do Stowarzyszenia i wspierania jego działalności.
            </p>
            <h2>Deklaracje do pobrania:</h2>
            <ul>
                <li><a href="/assets/Deklaracja - Osoba fizyczna-nowe.docx" target="_blank">Deklaracja osoba fizyczna</a></li>
<li><a href="/assets/Deklaracja - Osoba fizyczna prowadząca działalność gospodarczą-nowe.docx" target="_blank">Deklaracja osoba fizyczna prowadząca działalność gospodarczą</a></li>
<li><a href="/assets/Deklaracja - Osoba prawna-nowe.docx" target="_blank">Osoba prawna</a></li>
                <li><a href="/assets/REZYGNACJA-nowa.pdf" target="_blank">Rezygnacja z członkostwa</a></li>
            </ul>
            <h2 class="h2-center">Członkowie Stowarzyszenia LGD Chełmno</h2>
<ul>
<li><a href="/assets/Lista Członków LGD Chełmno - stan na 28.01.2025.pdf" target="_blank">Lista Członków LGD Chełmno stan na 28.01.2025</a></li>
<li><a href="/assets/Lista Członków LGD Chełmno - stan na 06.12.2024.pdf" target="_blank">Lista Członków LGD Chełmno stan na 06.12.2024</a></li>
<li><a href="/assets/Lista Członków LGD Chełmno - stan na 02.09.2024.pdf" target="_blank">Lista Członków LGD Chełmno stan na 03.09.2024</a></li>
            <li><a href="/assets/Lista Członków LGD Chełmno - stan na 27.06.2024.xlsx" target="_blank">Lista Członków LGD Chełmno stan na 27.062024r.</a></li>
</ul>
        </div>
    </main>
    
