---
title: LGD Chełmno - Lokalna Grupa Działania
layout: 'base.njk'
pagination:
    data: collections.glowna
    size: 3
    alias: glowna
    reverse: true
---
    <main id="content">
        <div class="lane-1">
            <div class="about">
                <a href="/stowarzyszenie/">
                    <h1>O nas</h1>
                </a>
                <p>LGD Chełmno to stowarzyszenie, które tworzą organizacje pozarządowe, przedsiębiorcy, Gmina Miasta
                    Chełmno i mieszkańcy Chełmna - to realne, międzysektorowe partnerstwo. Jako miejska Lokalna Grupa
                    Działania w Chełmnie będziemy korzystać ze środków Europejskiego Funduszu Społecznego+, by realizować
                    przedsięwzięcia projektowe, przygotowane przez mieszkańców i ich organizacje.</p>
<br>
<br>
<p>W celu dodania wydarzenia do kalendarza prosimy o kontakt mailowy: lgdchelmno@gmail.com z treścią wg. załączonego wzoru:</p>
<a href="/assets/załącznik pismo o dodanie wydarzenia do kalendarza.pdf" target="_blank">Załącznik wzór wiadomości o dodanie wydarzenia</a></li>
            </div>
            <div class="rozbudzeni">
              
                    <h1>Kalendarz Wydarzeń</h1>
                
                <iframe class="calendar" src="https://calendar.google.com/calendar/embed?height=400&wkst=1&ctz=Europe%2FWarsaw&showPrint=0&showCalendars=0&showTabs=0&src=NjRkNDEzYTZlZWZkNjgwYTFjODRkYzg0Mjg3YzQ4ZjMxZmVlMTJlNTJmYWM3YTE2MWQyNzc1ODVhM2IwYmI1ZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23D50000" style="border-width:0" width="800" height="400" frameborder="0" scrolling="no"></iframe>
            </div>
        </div>
        <div class="aktualnosci">
            <a href="/aktualnosci/"><h1>Aktualności</h1></a>
            <div class="aktualnosci-container">
                {%- for news in glowna -%}
                    {% include 'news-snippet.njk' %}
                {%- endfor -%}
            </div>
        </div>
        <div class="aktualnosci">
            <h1>Aktualny Nabór Na Granty</h1>
            <div class="aktualnosci-container aktualny-grant">
                {%- for news in collections.aktualny -%}
                    {% include 'news-snippet.njk' %}
                {%- endfor -%}
            </div>  
        </div>
        <div class="polecamy animate animate.appear">
            <h1>Polecamy</h1>
            <div class="polecamy-container">
                <div class="chelmno">
                    <a href="https://chelmno.pl/pl/" target="_blank"><img src="/assets/logo-chelmno-removebg-preview.png" alt="Logo miasta Chełmno"></a>
                </div>
                <div class="ngo">
                    <a href="https://dzialajlokalnie.pl/" target="_blank"><img src="/assets/logo-poziom-fb-dzialajlokalnie.png" alt="logo dzialaj lokalnie"></a>
                </div>
                <div class="kuj-pom">
                    <a href="https://www.kujawsko-pomorskie.pl/" target="_blank"><img src="/assets/logo-kuj-pom.png" alt="logo woj kuj-pom"></a>
                </div>
                <div class="rlks">
                    <a href="https://mojregion.eu/rpo/dowiedz-sie/rlks/" target="_blank"><img src="./assets/logo_rlks-nobg.png" alt="logo rlks"></a>
                </div>
            </div>
        </div>
    </main>
    
