---
title: LGD Chełmno - Lokalna Grupa Działania
layout: 'base.njk'
pagination:
    data: collections.glowna
    size: 3
    alias: glowna
    reverse: true
---
    <main id="content">
        <div class="lane-1">
            <div class="about">
                <a href="/stowarzyszenie/">
                    <h1>O nas</h1>
                </a>
                <p>LGD Chełmno to stowarzyszenie, które tworzą organizacje pozarządowe, przedsiębiorcy, Gmina Miasta
                    Chełmno i mieszkańcy Chełmna - to realne, międzysektorowe partnerstwo. Jako miesjka Lokalna Grupa
                    Działania w Chełmnie będziemy korzystać ze środków Europejskiego Funduszu Społecznego, by realizować
                    predsięwzięcia projektowe, przygotowane przez mieszkańców i ich organizajce.</p>
            </div>
            <div class="rozbudzeni">
                <a href="/nasze-dzialania/">
                    <h1>Rozbudzeni - Rozmarzeni</h1>
                </a>
                <p>Pomysł na organizację wydarzenia pt. „Rozbudzeni – Rozmarzeni” pojawił się na początku 2021 roku podczas rozmów z jednym z Grantobiorców i wynikał ze skutków pandemii COVID-19. Walka z epidemią wiązała się z ograniczeniem kontaktów społecznych. I tak zrodził się pomysł na wspólne wykonanie tańca do muzyki Jerusalema. 13.06.2021 r. na Rynku chełmińskim wspólny taniec wykonało prawie 100 osób. Tego dnia rozbudziliśmy lokalną społeczność, otworzyliśmy serca i umysły, które zaczęły marzyć o powrocie do normalności. </p>
            </div>
        </div>
        <div class="aktualnosci">
            <a href="/aktualnosci/"><h1>Aktualności</h1></a>
            <div class="aktualnosci-container">
                {%- for news in glowna -%}
                    {% include 'news-snippet.njk' %}
                {%- endfor -%}
            </div>
        </div>
        <div class="aktualnosci">
            <h1>Aktualny Nabór Na Granty</h1>
            <div class="aktualnosci-container aktualny-grant">
                {%- for news in collections.aktualny -%}
                    {% include 'news-snippet.njk' %}
                {%- endfor -%}
            </div>  
        </div>
        <div class="polecamy animate animate.appear">
            <h1>Polecamy</h1>
            <div class="polecamy-container">
                <div class="chelmno">
                    <a href="https://chelmno.pl/pl/" target="_blank"><img src="/assets/logo-chelmno-removebg-preview.png" alt="Logo miasta Chełmno"></a>
                </div>
                <div class="ngo">
                    <a href="https://www.ngo.pl/" target="_blank"><img src="/assets/logo-ngo-nowe.png" alt="logo ngo"></a>
                </div>
                <div class="kuj-pom">
                    <a href="https://www.kujawsko-pomorskie.pl/" target="_blank"><img src="/assets/logo-kuj-pom.png" alt="logo woj kuj-pom"></a>
                </div>
                <div class="rlks">
                    <a href="https://mojregion.eu/rpo/dowiedz-sie/rlks/"><img src="./assets/logo_rlks-nobg.png" alt="logo rlks"></a>
                </div>
            </div>
        </div>
    </main>
    