---
title: LGD Chełmno - Komisja Rewizyjna
layout: 'base.njk'
---
        <main class="komisjarewizyjna">
            <div class="container-komisjarewizyjna">
                <h1>Komisja Rewizyjna LGD</h1>
                <p>Komisja Rewizyjna jest organem kontrolnym Stowarzyszenia i składa się z 3 osób wybranych spośród członków Stowarzyszenia. Do kompetencji Komisji Rewizyjnej należy kontrola bieżącej pracy Stowarzyszenia, występowanie z wnioskiem o zwołanie Walnego Zebrania Członków, składanie sprawozdań ze swej działalności Walnemu Zebraniu Członków, składanie wniosków w przedmiocie absolutorium dla Zarządu na Walnym Zebraniu Członków.</p>
                <div class="regulamin-komisja-rewizyjna">
                    <h2>Załącznik:</h2>
<ul>
<li><a href="/assets/Regulamin Komisji Rewizyjnej - stan na 27.06.2024.pdf" target="_blank">Regulamin Komisja Rewizyjna stan na 27.06.2024</a></li>
                    <li><a href="/assets/komisja-rewizyjna-regulamin_15.06.2016.pdf" target="_blank">Regulamin Komisja Rewizyjna 2016 - 2024</a></li>
</ul>
                </div>
                <h2>Skład Komisji Rewizyjnej od 2023 - nadal</h2>
                <ul>
                    <li>Wikiera Dominika</li>
                    <li>Siemiątkowska Janina</li>
                    <li>Trzciński Franciszek</li>
                </ul>
            </div>
        </main>
        
