---
title: LGD Chełmno - Konkursy
layout: 'base.njk'
---
    <main class="konkursy">
        <div class="container-konkursy">
            <div class="tabs-container">
                {%- for tabs in collections.tabs | reverse -%}
                <button class="tab" onclick="showTab('{{ tabs.data.id }}')">{{ tabs.data.title }}</button>
                <button class="tab" onclick="showTab('projekt2023')">Projekt pilotażowy 2023/PP/2</button>
                <button class="tab" onclick="showTab('archiwalny2022')">Archiwalny - Projekt pilotażowy
                    2022/PP/1</button>
                <button class="tab" onclick="showTab('archiwalnyGrant2021G3E')">Archiwalny - Grant 2021/G/3E</button>
                <button class="tab" onclick="showTab('archiwalnyGrant2021G2E')">Archiwalny - Grant 2021/G/2E</button>
                <button class="tab" onclick="showTab('archiwalnyGrant2021G1E')">Archiwalny - Grant 2021/G/1E</button>
                <button class="tab" onclick="showTab('archiwalnyGranty2021G1')">Archiwalny - Granty 2021/G/1</button>
                <button class="tab" onclick="showTab('archiwalnyGranty2020G1')">Archiwalny - Granty 2020/G/1</button>
                <button class="tab" onclick="showTab('archiwalny1K2020')">Archiwalny - 1/K/2020</button>
                <button class="tab" onclick="showTab('archiwalny2019G1')">Archiwalny - 2019/G/1</button>
                <button class="tab" onclick="showTab('archiwalny1K2019')">Archiwalny - 1/K/2019</button>
                <button class="tab" onclick="showTab('archiwalny2018G1')">Archiwalny - 2018/G/1</button>
            </div>

            
            <div id="{{ tabs.data.id }}" class="tab-content">
                <h6 class="konkursy-data">{{ tabs.data.date | postDate}}</h6>
                {{ tabs.content | safe }}
            </div>
            {%- endfor -%}

            <div id="projekt2023" class="tab-content">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div id="archiwalny2022" class="tab-content">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, doloribus.</p>
            </div>

            <div id="archiwalnyGrant2021G3E" class="tab-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis recusandae itaque libero nobis rem officia alias! Suscipit incidunt placeat sunt.</p>
            </div>

            <div id="archiwalnyGrant2021G2E" class="tab-content">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, itaque.</p>
            </div>
            
            <div id="archiwalnyGrant2021G1E" class="tab-content">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum placeat, error commodi sunt cupiditate dolorum sed. Nostrum reprehenderit est recusandae expedita, libero eveniet molestiae numquam ipsa suscipit quam tempora dignissimos earum quasi id. Ducimus commodi dolore ipsa repellendus porro molestiae quo expedita est sit, blanditiis error nihil atque modi numquam.</p>
            </div>

            <div id="archiwalnyGranty2021G1" class="tab-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse blanditiis dolores ad quasi minus. Architecto deleniti qui eius dolores ex!</p>
            </div>

            <div id="archiwalnyGranty2020G1" class="tab-content">
            </div>

            <div id="archiwalny1K2020" class="tab-content">
            </div>

            <div id="archiwalny2019G1" class="tab-content">
            </div>

            <div id="archiwalny1K2019" class="tab-content">
            </div>

            <div id="archiwalny2018G1" class="tab-content">
            </div>
        </div>
    </main>
    