---
title: LGD Chełmno - Konkursy
layout: 'base.njk'
---
    <main class="konkursy">
        <div class="container-konkursy">
            <div class="tabs-container">
                {%- for tabs in collections.tabs | reverse -%}
                <button class="tab" onclick="showTab('{{ tabs.data.id }}')">{{ tabs.data.title }}</button>
            </div>

            
            <div id="{{ tabs.data.id }}" class="tab-content">
                <h6 class="konkursy-data">{{ tabs.data.date | postDate}}</h6>
                {{ tabs.content | safe }}
            </div>
            {%- endfor -%}

        </div>
    </main>
    