---
title: LGD Chełmno - Kontakt
layout: 'base.njk'
---
    <main class="kontakt">
        <div class="container-kontakt">
            <h1>Dane kontaktowe</h1>
            <div class="dane-kontaktowe">
                <div class="info">
                    <ul>
                        <li>
                            <div class="icon"><i class="fa-solid fa-user-tie" style="color: rgb(100, 100, 100);"></i>
                            </div>
                            Dyrektor
                            Biura – Anna Cyrklaff-Muzolf
                        </li>
                        <li>
                            <div class="icon"><i class="fa-solid fa-user-tie" style="color: rgb(100, 100, 100);"></i>
                            </div>
                            Specjalista
                            ds. administracyjno-biurowych – 
                        </li>
                        <li>
                            <div class="icon"><i class="fa-solid fa-location-dot"
                                    style="color: rgb(100, 100, 100);"></i>
                            </div>ul.
                            Grudziądzka 36, parter (wejście od ul. Podmurnej), 86-200 Chełmno
                        </li>
                        <li>
                            <div class="icon"><i class="fa-solid fa-clock" style="color: rgb(100, 100, 100);"></i></div>
                            Biuro czynne:
                            pn-pt 7:15 – 15:15
                        </li>
                        <li class="space">
                            <div class="icon">
                                <i class="fa-solid fa-mobile" style="color: rgb(100, 100, 100);"></i>
                            </div>
                            kom:<a href="tell:501 388 474"> 501 388 474</a> lub <a href="tell:517 398 043"> 517 398
                                043></a>
                        </li>
                        <li>
                            <div class="icon"><i class="fa-solid fa-envelope" style="color: rgb(100, 100, 100);"></i>
                            </div>
                            <a href="mailto:lgdchelmno@wp.pl">lgdchelmno@wp.pl</a>
                        </li>
                        <li>
                            <div class="icon"><i class="fa-solid fa-building-columns" style="color: rgb(100, 100, 100);"></i></div> Nr rachunku: 24 1090 1678 0000 0001 4790 3800
                        </li>
<div class="icon"><i class="fa-solid fa-s"></i></div><li>Rezerwacje sal w Chełmińskim Inkubatorze Organizacji Pozarządowych (g 36) - Beata Milieieva – 511 750 666</li>
                        <li>
                        <p>Składka członkowska na rok 2024 wynosi 40,00 zł.<br> Wpłaty można dokonać przelewem na wskazany nr rachunku bankowego lub osobiście w biurze LGD Chełmno.</p>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="ml-embedded" data-form="TIPSGU"></div>
                </div>
            </div>
        </div>
    </main>
    
