---
title: LGD Chełmno - LSR
layout: 'base.njk'
---

    <main class="lsr-2016">
        <div class="container-lsr-2016">
            <h1>Lokalna Strategia Rozwoju LGD Chełmno</h1>
            <div class="tabs-container">
                {%- for lsr in collections.lsr| reverse -%}
                <button class="tab" onclick="showTab('{{ lsr.data.id }}')">{{ lsr.data.title }}</button>
            </div>

            
            <div id="{{ lsr.data.id }}" class="tab-content">
                <h1>{{ lsr.data.title }}</h1>
                {{ lsr.content | safe }}
                
                {% if lsr.data.files %}
                  <h2 class="zalacznik-h2">Załączniki:</h2>
                <ul>
                  {% for file in lsr.data.files %}
                    <li>
                      <a href="{{ file.file | url }}" target="_blank">
                        {{ file.fileName }}  
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {% endif %}
            </div>
            {%- endfor -%}

        </div>
    </main>
    