---
title: LGD Chełmno - Nasze Działania
layout: 'base.njk'
---
    <main class="nasze-dzialania">
        <div class="container-lsr-2016">
            <h1>Nasze Działania</h1>
            <div class="tabs-container">
                <button class="tab" onclick="showTab('rozwoj-lokalny')">Pilotujemy rozwój lokalny w Chełmnie</button>
                <button class="tab" onclick="showTab('projekty-grantowe')">Projekty Grantowe</button>
                <button class="tab" onclick="showTab('projekty-inne')">Projekty Inne</button>
                <button class="tab" onclick="showTab('dzialania-statutowe')">Działania statutowe</button>
            </div>
            <div id="rozwoj-lokalny" class="tab-content">
                {%- for rozwoj_lokalny in rozwoj_lokalny -%}
                    {% include 'news-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="projekty-grantowe" class="tab-content">
                {%- for projekty_grantowe in projekty_grantowe -%}
                    {% include 'news-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="projekty-inne" class="tab-content">
                {%- for projekty_inne in projekty_inne -%}
                    {% include 'news-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="dzialania-statutowe" class="tab-content">
                {%- for dzialania_statutowe in dzialania_statutowe -%}
                    {% include 'news-snippet.njk' %}
                {%- endfor -%}
            </div>
        </div>
    </main>
    