---
title: LGD Chełmno - Nasze Działania
layout: 'base.njk'
---
    <main class="nasze-dzialania">
        <div class="container-lsr-2016">
            <h1>Nasze Działania</h1>
            <div class="tabs-container">

                <button class="tab" onclick="showTab('aktywizacja_seniorow')">Aktywizacja i włączenie społeczne seniorów</button>
                <button class="tab" onclick="showTab('wsparcie_edukacji')">Wsparcie edukacji dzieci i młodzieży</button>
                <button class="tab" onclick="showTab('wsparcie_rownosci')">Wspieranie równości szans kobiet i mężczyzn</button>
                <button class="tab" onclick="showTab('aktywizacja_edukacyjna')">Aktywizacja edukacyjna osób dorosłych</button>
                <button class="tab" onclick="showTab('rozwoj-lokalny')">Pilotujemy rozwój lokalny w Chełmnie</button>
                <button class="tab" onclick="showTab('projekty-grantowe')">Projekty Grantowe</button>
                <button class="tab" onclick="showTab('projekty-inne')">Projekty Inne</button>
                <button class="tab" onclick="showTab('dzialania-statutowe')">Działania statutowe</button>
                <button class="tab" onclick="showTab('kbia')">KBiA</button>
            </div> 

            <div id="aktywizacja_seniorow" class="tab-content">
<p>MAMY TO! 09.09.2024 r. podpisaliśmy umowę na projekt "Aktywizacja i włączenie społeczne seniorów",
a 23.09.2024 w Toruniu nastąpiło uroczyste wręczenie umów współfinansowanych z programu Fundusze Europejskie dla Kujaw i Pomorza na lata 2021-2027.<p>
<br>
<p><b>Tytuł projektu:</b> “Aktywizacja i włączenie społeczne seniorów”
Projekt realizowany ze środków EFS+ Działanie 07.04 – Wspieranie integracji społecznej – [nabór Nr FEKP.07.04-IZ.00-105/24]
<br>
Głównym celem projektu jest aktywizacja i włączenie społeczne seniorów z terenu objętego Lokalną Strategią Rozwoju na lata 2023-2029 dla obszaru Lokalnej Grupy Działania Chełmno oraz sprawne wdrażanie LSR w ramach kosztów zarządzania i animacji w okresie od 01.01.2024 do 31.12.2029 roku. Projekt skierowany jest do 126 osób w wieku 60+ z obszaru objętego LSR (63 kobiet i 63 mężczyzn). Realizacja projektu przyczyni się do osiągnięcia wskaźników produktu i wskaźników rezultatu zgodnych z programem oraz tych charakterystycznych dla projektu:
<ul>
<li>Całkowita liczba osób objętych wsparciem – 126 os.;</li>

<li>Liczba osób starszych objętych wsparciem w klubach seniora, gospodarstwach opiekuńczych i Uniwersytetach Trzeciego Wieku – 126 os.;</li>

<li>Liczba osób, których sytuacja społeczna uległa poprawie po opuszczeniu programu – 40 os.;</li>

<li>Liczba objętych wsparciem klubów seniora, gospodarstw opiekuńczych i Uniwersytetów Trzeciego Wieku – 8 szt.</li>
</ul>
<br>
<br>
W ramach projektu zaplanowane są zadania: 1. Wybór projektów objętych grantem - utworzenie klubu seniora (przeprowadzenie naboru i wypłacenie grantów w ramach Przedsięwzięcia w LSR 1.1: Aktywizacja i włączenie społeczne seniorów) oraz 2. Koszty pośrednie (koszty na animację i zarządzanie LSR). Całkowita wartość projektu wyniesie 1 621 604,05 zł, z czego kwota dofinansowania wyniesie 1 540 595,29 zł.
<br>
<br>
<b>Grupa docelowa:</b>
<br>
Osoby w wieku 60+ z obszaru objętego Lokalną Strategią Rozwoju na lata 2023-2029 dla obszaru Lokalnej Grupy Działania Chełmno. Za osobę starszą należy rozumieć osobę, która ukończyła 60. rok życia. Ze wsparcia w klubie seniora wyłączone będą osoby będące uczestnikami dziennych domów pomocy i innych ośrodków wsparcia dziennego przewidzianych w ustawie o pomocy społecznej. Planowana liczba osób objętych wsparciem – 126 osób (63 kobiet i 63 mężczyzn).
<br>
#FunduszeEuropejskie #FunduszeUE</p>
            </div>
            <div id="wsparcie_edukacji" class="tab-content">
<p>MAMY TO! 13.12.2024 r. podpisaliśmy umowę na drugi projekt, który będziemy realizować w nowej perspektywie finansowej<p>
<br>
<p><b>Tytuł projektu:</b> “Wsparcie edukacji dzieci i młodzieży”
Projekt realizowany ze środków EFS+ Działanie 07.02 – Wsparcie dzieci i młodzieży poza edukacją formlaną – [nabór Nr FEKP.07.02-IZ.00-103/24]
<br>
Głównym celem projektu jest wsparcie edukacji dzieci i młodzieży z terenu objętego Lokalną Strategią Rozwoju na lata 2023-2029 dla obszaru Lokalnej Grupy Działania Chełmno oraz sprawne wdrażanie LSR w ramach kosztów zarządzania i animacji w okresie od 01.01.2024 do 31.12.2029 roku. Projekt skierowany jest do 225 dzieci i młodzieży uczących się w wieku 6-24 lat z obszaru objętego LSR (113 kobiet i 112 mężczyzn). 
Realizacja projektu przyczyni się do osiągnięcia wskaźników produktu i wskaźników rezultatu zgodnych z programem oraz tych charakterystycznych dla projektu:
<ul>
<li>Liczba dzieci/uczniów o specjalnych potrzebach rozwojowych i edukacyjnych, objętych wsparciem – 25 os.;</li>

<li>Liczba uczniów i słuchaczy szkół i placówek kształcenia zawodowego objętych wsparciem – 25 os.;</li>

<li>Liczba uczniów szkół i placówek systemu oświaty prowadzących kształcenie ogólne objętych wsparciem – 200 os.;</li>

<li>Liczba osób znajdujących się w niekorzystnej sytuacji objętych wsparciem w ramach edukacji pozaformalnej – 225 os.</li>

<li>Liczba uczniów, którzy nabyli kwalifikacje po opuszczeniu programu - 90 os.</li>
</ul>
<br>
<br>
W ramach projektu zaplanowane są zadania: 1. Wybór projektów objętych grantem - utworzenie klubu młodzieżowego (przeprowadzenie naboru i wypłacenie grantów w ramach Przedsięwzięcia w LSR 1.2: Wsparcie edukacji dzieci i młodzieży) oraz 2. Koszty pośrednie (koszty na animację i zarządzanie LSR). Całkowita wartość projektu wyniesie 1 816 060,82 zł, z czego kwota dofinansowania wyniesie 1 725 257,77 zł.
<br>
<br>
<b>Grupa docelowa:</b>
<br>
Dzieci i młodzież ucząca się w wieku 6-24 lat z obszaru objętego Lokalną Strategią Rozwoju na lata 2023-2029 dla obszaru Lokalnej Grupy Działania Chełmno. 
<br>
#FunduszeEuropejskie #FunduszeUE</p>
            </div>
            <div id="wsparcie_rownosci" class="tab-content">
<p>MAMY TO! 30.12.2024 r. podpisaliśmy umowę na kolejny projekt, który będziemy realizować w nowej perspektywie finansowej<p>
<br>
<p><b>Tytuł projektu:</b> “Wspieranie równości szans kobiet i mężczyzn”
Projekt realizowany ze środków EFS+ Działanie 07.01 – Przełamywanie stereotypów związanych z płcią – [nabór Nr FEKP.07.01-IZ.00-102/24]
<br>
Głównym celem projektu jest wspieranie równości szans kobiet i mężczyzn  z obszaru objętego Lokalną Strategią Rozwoju na lata 2023-2029 dla obszaru Lokalnej Grupy Działania Chełmno oraz sprawne wdrażanie LSR w ramach kosztów zarządzania i animacji w okresie od 01.01.2024 do 31.12.2029 roku. Projekt skierowany jest do 216 osób dorosłych z obszaru objętego LSR (108 kobiet i 108 mężczyzn). 
Realizacja projektu przyczyni się do osiągnięcia wskaźników produktu i wskaźników rezultatu zgodnych z programem oraz tych charakterystycznych dla projektu:
<ul>
<li>Liczba osób objętych wsparciem w zakresie równości kobiet i mężczyzn – 216 os.;</li>

<li>Liczba osób, które podniosły poziom wiedzy w zakresie równości kobiet i mężczyzn dzięki wsparciu w programie – 132 os.;</li>
</ul>
<br>
<br>
W ramach projektu zaplanowane są zadania: 1. Wybór projektów objętych grantem - przeprowadzenie naboru i wypłacenie grantów w ramach Przedsięwzięcia w LSR 1.4: Wspieranie równości szans kobiet i mężczyzn) oraz 2. Koszty pośrednie (koszty na animację i zarządzanie LSR). Całkowita wartość projektu wyniesie 1 430 937,13 zł, z czego kwota dofinansowania wyniesie 1 359 390,26 zł.
<br>
<br>
<b>Grupa docelowa:</b>
<br>
Wszyscy mieszkańcy (osoby dorosłe) z obszaru objętego LSR na lata 2023-2029 dla obszaru LGD Chełmno. 
<br>
#FunduszeEuropejskie #FunduszeUE</p>
            </div>
            <div id="aktywizacja_edukacyjna" class="tab-content">
<p>MAMY TO! 30.12.2024 r. podpisaliśmy umowę na kolejny projekt, który będziemy realizować w nowej perspektywie finansowej<p>
<br>
<p><b>Tytuł projektu:</b> “Aktywizacja edukacyjna osób dorosłych”
Projekt realizowany ze środków EFS+ Działanie 07.03 – Aktywizacja edukacyjna osób dorosłych – [nabór Nr FEKP.07.03-IZ.00-104/24]
<br>
Głównym celem projektu jest aktywizacja edukacyjna osób dorosłych  z obszaru objętego Lokalną Strategią Rozwoju na lata 2023-2029 dla obszaru Lokalnej Grupy Działania Chełmno oraz sprawne wdrażanie LSR w ramach kosztów zarządzania i animacji w okresie od 01.01.2024 do 31.12.2029 roku. Projekt skierowany jest do 200 osób dorosłych z obszaru objętego LSR (100 kobiet i 100 mężczyzn). 
Realizacja projektu przyczyni się do osiągnięcia wskaźników produktu i wskaźników rezultatu zgodnych z programem oraz tych charakterystycznych dla projektu:
<ul>
<li>Liczba osób dorosłych objętych wsparciem w zakresie umiejętności lub kompetencji podstawowych, realizowanym poza Bazą Usług Rozwojowych – 200 os.;</li>

<li>Liczba podmiotów przygotowanych do pełnienia funkcji lokalnego ośrodka kształcenia osób dorosłych – 1 podmiot;</li>

<li>Liczba utworzonych lokalnych ośrodków wiedzy i edukacji (LOWE): – 1 podmiot;</li>
</ul>
<br>
<br>
W ramach projektu zaplanowane są zadania: 1. Wybór projektów objętych grantem - utworzenie LOWE (przeprowadzenie naboru i wypłacenie grantów w ramach Przedsięwzięcia w LSR 1.3: Aktywizacja edukacyjna osób dorosłych) oraz 2. Koszty pośrednie (koszty na animację i zarządzanie LSR). Całkowita wartość projektu wyniesie 1 430 937,13 zł, z czego kwota dofinansowania wyniesie 1 359 390,26 zł.
<br>
<br>
<b>Grupa docelowa:</b>
<br>
Wszyscy mieszkańcy (osoby dorosłe) z obszaru objętego LSR na lata 2023-2029 dla obszaru LGD Chełmno. Minimum 80% aktywizowanych w LOWE osób będą stanowiły osoby poniżej 60 roku życia, zgodnie z Regulaminem wyboru projektów grantowych EFS+. Do osób zaktywizowanych nie będą również wliczane osoby, które uczestniczyły lub uczestniczą w zajęciach organizowanych w innym LOWE utworzonym na obszarze objętym LSR LGD Chełmno w pespektywie finansowej 2021-2027.
<br>
#FunduszeEuropejskie #FunduszeUE</p>
            </div>
            <div id="rozwoj-lokalny" class="tab-content">
                {%- for rozwoj_lokalny in collections.rozwoj_lokalny | reverse -%}
                    {% include 'rozwoj_lokalny-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="projekty-grantowe" class="tab-content">
                {%- for projekty_grantowe in collections.projekty_grantowe | reverse -%}
                    {% include 'projekty_grantowe-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="projekty-inne" class="tab-content">
                {%- for projekty_inne in collections.projekty_inne | reverse -%}
                    {% include 'projekty_inne-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="dzialania-statutowe" class="tab-content">
                {%- for dzialania_statutowe in collections.dzialania_statutowe | reverse -%}
                    {% include 'dzialania_statutowe-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="rlks" class="tab-content">
                {%- for rlks in collections.rlks | reverse -%}
                    {% include 'rlks-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="kbia" class="tab-content">
                {%- for kbia in collections.kbia | reverse -%}
                    {% include 'kbia-snippet.njk' %}
                {%- endfor -%}
            </div>
        </div>
    </main>
    
