---
title: LGD Chełmno - Nasze Działania
layout: 'base.njk'
---
    <main class="nasze-dzialania">
        <div class="container-lsr-2016">
            <h1>Nasze Działania</h1>
            <div class="tabs-container">
                <button class="tab" onclick="showTab('rozwoj-lokalny')">Pilotujemy rozwój lokalny w Chełmnie</button>
                <button class="tab" onclick="showTab('projekty-grantowe')">Projekty Grantowe</button>
                <button class="tab" onclick="showTab('projekty-inne')">Projekty Inne</button>
                <button class="tab" onclick="showTab('dzialania-statutowe')">Działania statutowe</button>
                <button class="tab" onclick="showTab('rlks')">RLKS</button>
                <button class="tab" onclick="showTab('kbia')">KBiA</button>
            </div>
            <div id="rozwoj-lokalny" class="tab-content">
                {%- for rozwoj_lokalny in collections.rozwoj_lokalny | reverse -%}
                    {% include 'rozwoj_lokalny-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="projekty-grantowe" class="tab-content">
                {%- for projekty_grantowe in collections.projekty_grantowe | reverse -%}
                    {% include 'projekty_grantowe-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="projekty-inne" class="tab-content">
                {%- for projekty_inne in collections.projekty_inne -%}
                    {% include 'projekty_inne-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="dzialania-statutowe" class="tab-content">
                {%- for dzialania_statutowe in collections.dzialania_statutowe | reverse -%}
                    {% include 'dzialania_statutowe-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="rlks" class="tab-content">
                {%- for rlks in collections.rlks -%}
                    {% include 'rlks-snippet.njk' %}
                {%- endfor -%}
            </div>
            <div id="kbia" class="tab-content">
                {%- for kbia in collections.kbia -%}
                    {% include 'kbia-snippet.njk' %}
                {%- endfor -%}
            </div>
        </div>
    </main>
    