---
title: LGD Chełmno - Projekty
layout: 'base.njk'
pagination:
    data: collections.projekt
    size: 5
    alias: projekt
    reverse: true
---

<main class="projekty">
    <div class="container-projekty">
        <div class="projekty">
            <h1>Projekty</h1>
            <div role="list" class="projekty-container">

                {%- for projekt in collections.projekt | reverse -%}
                {% include 'projekt-snippet.njk' %}
                {%- endfor -%}


            </div>
            {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}" class="arrow">&leftarrow;</a>{% endif %}
            {% if pagination.href.next %}<a href="{{ pagination.href.next }}" class="arrow">&rightarrow;</a>{% endif %}
        </div>

</main>