---
title: LGD Chełmno - Rada LGD
layout: 'base.njk'
---
    <main class="radalgd">
        <div class="container-radalgd">
            <h1>Rada Stowarzyszenia Lokalna Grupa Działania Organ Decyzyjny</h1>
            <p>Rada na lata 2023-2029</p>
            <p>Rada jest organem decyzyjnym, o którym mowa w Ustawie o rozwoju lokalnym z udziałem lokalnej społeczności i działa również w oparciu o zapisy tej ustawy. Do kompetencji Rady należy: wybór operacji, które mają być realizowane w ramach LSR oraz ustalenie kwoty wsparcia dla tych operacji. Wybór operacji będzie odbywał się w sposób transparentny w oparciu o przyjęte i publicznie znane kryteria. Podczas dokonywania oceny ani władze publiczne, ani żadna pojedyncza grupa interesu, nie kontroluje procesu podejmowania decyzji. Wybór operacji dokonywany jest w formie uchwały Rady. Zasady działania i kompetencje Rady LGD szczegółowo zostały uregulowane w Statucie Stowarzyszenia oraz Regulaminie  Rady. </p>
            <p>Rada w latach 2016-2023</p>
            <p>Struktura Rady Stowarzyszenia Lokalna Grupa Działania Chełmno, jako organu podejmującego decyzje w
                zakresie wyboru operacji/projektów w ramach LSR, odzwierciedla wymóg trójsektorowości. Liczebność organu
                Rady LGD została ustalona na 15 członków wybranych przez Walne Zebranie Członków spośród członków tego
                zebrania.</p>
            <p>W składzie organu decyzyjnego znajdująsię przedsiębiorcy, kobiety, osoby poniżej 35 r.ż., sektor
                społeczny i mieszkańcy. Rada LGD działa w oparciu o regulamin Rady, który określa szczegółowe procedury
                zwołwania i organizacji posiedzeń organu decyzyjnego oraz zasady podejmowania decyzji w sprawie oceny i
                wyboru operacji, w tym procedurę wyłączenia z oceny operacji i jest zatwierdzany przez Walne Zebranie
                Członków.</p>
            <p>Do wyłącznej kompetencji Rady należy wybór operacji, które mają być realizowane w ramach opracowanej
                przez LGD Lokalnej Strategii Rozwoju. Wybór operacji będzie odbywał się w sposób transparentny w oparciu
                o przyjęte i publicznie znane kryteria. Podczas dokonywania oceny żaden z reprezntowanych sektorów:
                sektor publiczny, prywatny, porządkowy nie posiadają więcej niż 49% praw głosu w podejmowaniu decyzji. W
                przypadku gdy parytet nie będzie mógł być zachowany Przewodniczący Rady przeprowadza losowanie wśród
                członków danej grupy interesu wyłączając spośród nich odpowiednią liczbę osób z oceny. Działanie to ma
                zapewnić parytet dla reprezentowanych sektorów. Na każdym etapie działalności utrzymany będzie wymóg
                reprezentatywności składu rady. LGD opracowała procedury wyłączenia zapewniające zachowanie parytetów.
            </p>
            <p>Podstawą do weryfikacji przynależności członków Rady do sektora (grupy interesu) będzie prowadzony
                publicznie dostępny Rejestr interesu członków Rady LGD. Istotne jest weryfikowane każdorazowo przed
                głosowaniem będzie wypełnienie warunku: 50% głosów w decyzji dotyczącej wyboru operacji pochodzi od
                partnerów niebędących instytycjami publicznymi. Funkcje członków Rady LGD sprawowane są osobiście.</p>
            <h2>Załącznik:</h2>
            <a href="/assets/Regulamin-Rady-Stowarzyszenia-LGD-Chelmno.pdf" target="_blank">Regulamin Rady Stowarzyszenia LGD
                Chełmno - 2016-2023</a>
            <h2 class="h2-center">Lista członków organu decyzyjnego - Rada Stowarzyszenia LGD Chełmno</h2>
            <a href="/assets/lista-rada.xlsx" target="_blank">Lista Rady LGD Chełmno 2023-2029</a>
        </div>
    </main>
    
