---
title: LGD Chełmno - Statut
layout: 'base.njk'
---
<main class="statutlgd">
    <div class="container-statutlgd">
        <h1>Statut LGD</h1>
        <p>Statut to najważniejszy wewnętrzny dokument, to pisemnie potwierdzona informacja o zasadach działania
            stowarzyszenia. Statut to również źródło informacji dla innych. Z tego dokumentu dowiemy się, czym
            zajmuje się stowrzyszenie, co i w jaki sposób może robić, jaka jest jej struktura wewnętrzna, kto może
            podpisywać umowy w jej imieniu.</p>
        <h2>Załączniki:</h2>
        <ul>
            <li><a href="/assets/Statut-11-12-2023-obrócony.pdf" target="_blank">Statut Stowarzyszenia na dzień 11.12.2023</a></li>
            <li><a href="/assets/Uchwała nr 12.pdf" target="_blank">Uchwała nr 12</a></li>
            <li><a href="/assets/Załącznik do uchwały 13.pdf" target="_blank">Załącznik do uchwały nr 13</a></li>
            <li><a href="/assets/Statut.pdf" target="_blank">Statut Stowarzyszenia na dzień 05.06.2023</a></li>
            <li><a href="/assets/Uchwała nr 10.pdf" target="_blank">Uchwała nr 10</a></li>
            <li><a href="/assets/Uchwała nr 11.pdf" target="_blank">Uchwała nr 11</a></li>
            <li><a href="/assets/Statut-Stowarzyszenia-Lokalna-Grupa-Działania-Chelmno.pdf" target="_blank">Statut
                    Stowarzyszenia na dzień 22.01.2018</a></li>
        </ul>
    </div>
</main>
