---
title: LGD Chełmno - O nas
layout: 'base.njk'
---
        <main class="stowarzyszenie">
            <div class="container-stowarzyszenie">
                <h1>LGD Chełmno</h1>
                <p>Lokalna Grupa Działania Chełmno (LGD Chełmno)... dla większości mieszkańców brzmi tajemniczo. Naszym
                    zadaniem jest to zmienić. Kim jesteśmy, czym się zajmujemy, gdzie nas znaleźć?</p>
                <p>LGD to stowarzyszenie, które tworzą organizacje pozarządowe, przedsiębiorcy, Gmina Miasto Chełmno i
                    mieszkańcy Chełmna - to realne, międzysektorowe partnerstwo. Jako miejskie LGD będziemy korzystać ze
                    środków Europejskiego Funduszu Społecznego, by realizować przedsięwzięcia projektowe, przygotowane
                    przez mieszkańców i ich organizacje.</p>
                <p>Prace nad założeniem LGD trwał od września 2015 roku. Stowarzyszenie Ludzie-Ludziom wystąpiło o
                    wsparcie przygotowawcze i podjęło się zadania utworzenia Stowarzyszenia LGD. 15 grudnia 2015 odbyło
                    się pierwsze, założycielskie spotkanie. Podczas spotkania ustalono nazwę stowarzyszenia, uchwalony
                    został statut, wybrane zostały władze Stowarzyszenia. Komitet założycielski w dniu 21.12.2015
                    przekazał dokumenty do KRS, a wpis do rejestru uzyskaliśmy w lutym 2016.</p>
                <p>Od stycznia 2016 roku trwały intensywne prace Zespołu Roboczego nad opracowaniem Lokalnej Strategii
                    Rozwoju. Lokalna Strategia Rozwoju jest naszym strategicznym dokumentem, w którym znajdziemy
                    diagnozę obszaru, środowiska, opis partycypacyjnego charakteru tworzenia strategii, opis grup
                    docelowych, procedury wyboru operacji, cele, wskaźniki...</p>
                <p>W spotkaniach Zespołu Roboczego uczestniczyli przedstawiciele mieszkańców, instytucji, stowarzyszeń,
                    przedsiębiorcy, którzy zaangażowali się w prace nad strategią. Podczas spotkań wypracowano m.in.
                    analizę SWOT, ustalono grup osób, które zostaną objęte wsparciem, cele jakie chcemy osiągnąć
                    realizując Lokalną Strategię Rozwoju i wskaźniki, dzięki którym będziemy mierzyć i monitorować
                    postęp realizacji strategii. Pracy było naprawdę dużo, a efektem końcowym była Lokalna Strategia
                    Rozwoju dla Chełmna na lata 2016-2023, która została przyjęta w drodze uchwały przez Walne Zebranie
                    członków Stowarzyszenia.</p>
                <p>29 lutego 2016r. złożyliśmy wniosek do Urzędu Marszałkowskiego i przystąpiliśmy do konkursu na
                    finansowanie realizacji Lokalnej Strategii Rozwoju.</p>
                <p>Mamy Lokalną Grupę Działania oraz Lokalną Strategię Rozwoju - i co dalej?</p>
                <ul>
                    <li>Do roku 2020 realizowaliśmy LSR organizując konkursy grantowe i finansując projekty służące
                        realizacji celów LSR.</li>
                    <li>Pozyskiwaliśmy dodatkowe środki na realizację projektów na rzecz mieszkańców Chełmna</li>
                    <li>Zorganizowaliśmy szkolenia przygotowujące do pozyskiwania środków na realizację projektów</li>
                    <li>Wspieraliśmy rozwój i integrację społęczności lokalnej naszego miasta</li>
                </ul>
                <p>Od 01.2018r. do 30.06.2023r. realizowaliśmy projekt Grantowy w ramach EFS na łączną kwotę 2 474 721,15 zł, w ramach którego w formie regrantingu wdrażane były projekty m.in. w zakresie: zwiększenia liczby działań w obszarze aktywnej integracji o charakterze środowiskowym; wsparcie w zakresie organizowania społeczności lokalnej i animacji społecznej, wsparcie rozwoju gospodarki społ. i przedsiębiorczości społ. na obszarze LGD Chełmno (łącznie 51 grantów).</p>
                <p>01.04.2019r. do 30.06.2022r. projekt "Wsparcie na rzecz kosztów bieżących i animacji II", 527 383,83 zł, organizacja imprez własnych i imprez z udziałem LGD, realizacja szkoleń dla organów LGD Chełmno i Grantobiorców, warsztaty.</p>
                <p>01.07.2022r. do 30.04.2023r. projekt "Pilotujemy rozwój lokalny  Chełmnie" na łączną kwotę 421 055,38 zł. Celem projektu było przeprowadzenie pilotażu nowych typów projektów na perspektywę 2021-2027 poprzez:</p>
                <ol>
                    <li>Konsultacje i wybór projektów pilotażowych</li>
                    <li>Realizacja projektów pilotażowych przez Beneficjentów pilotaży</li>
                </ol>
                <p>01.05.2023 do 31.12.2023r. LGD Chełmno realizowało "Pilotujemy rozwój lokalny w Chełmnie II" na łączną kwotę 421 055,38 zł. Cel projektu i zadania jw.</p>
                <p>Od 2019r. do nadal jesteśmy Partnerem tzw. Programu Pajacykowa Sieć Pomocowa (4 umowy o współpracy między LGD Chełmno a Polską Akcją Humanitarną w Warszawie).</p>
                <p>Od 2019r. Realizujemy Zadania publiczne z Urzędu Marszałkowskiego Województwa Kujawsko-Pomorskiego: "Produkt turystyczny Chełmno - miasto zakochanych...(2022), "Kampania promocyjna Jedź i poznawaj!...(2023). Inne inicjatywy na rzecz aktywności lokalnej: cykliczna impreza "Rozbudzeni-Rozmarzeni" (od 2021r.), działania ekologiczne wśród dzieci - przekazanie karmników dla szkół podstawowych (2021r.), realizacja klipów podsumowujących projekty (wspólnie z Grantobiorcami i lokalną społecznością)</p>
                <p>Stowarzyszenie Lokalna Grupa Działania Chełmno w dniu 12.12.2023 r. podpisała Umowę o warunkach i sposobie realizacji strategii Rozwoju Lokalnego Kierowanego przez Społeczność w latach 2021-2027

                    5 czerwca 2023 na Walnym Zebraniu członków przyjęta została Lokalna Strategia Rozwoju obszaru LGD Chełmno na lata 2024 - 2029. Dokument ten wraz z wymaganymi załącznikami złożony został w Urzędzie Marszałkowskim Województwa Kujawsko-Pomorskiego w dniu 7.06.2023 roku. Poniżej prezentujemy Lokalną Strategię Rozwoju.
                    
                        Wysokość środków finansowych na wsparcie realizacji operacji w ramach LSR w ramach RPO Województwa Kujawsko-Pomorskiego: 1 199 508,88 EUR.
                    </p>
                <p>Siedziba Lokalnej Grupy Działania znajduje się przy ulicy Grudziądzka 36, parter (wejście od ul.
                    Podmurnej).</p>
                <h2>Zapraszamy</h2>
            </div>
        </main>
       
