---
title: LGD Chełmno - O nas
layout: 'base.njk'
---
        <main class="stowarzyszenie">
            <div class="container-stowarzyszenie">
                <h1>LGD Chełmno</h1>
                <p>Lokalna Grupa Działania Chełmno (LGD Chełmno)... dla większości mieszkańców brzmi tajemniczo. Naszym
                    zadaniem jest to zmienić. Kim jesteśmy, czym się zajmujemy, gdzie nas znaleźć?</p>
                <p>LGD to stowarzyszenie, które tworzą organizacje pozarządowe, przedsiębiorcy, Gmina Miasto Chełmno i
                    mieszkańcy Chełmna - to realne, międzysektorowe partnerstwo. Jako miejskie LGD będziemy korzystać ze
                    środków Europejskiego Funduszu Społecznego, by realizować przedsięwzięcia projektowe, przygotowane
                    przez mieszkańców i ich organizacje.</p>
                <p>Prace nad założeniem LGD trwał od września 2015 roku. Stowarzyszenie Ludzie-Ludziom wystąpiło o
                    wsparcie przygotowawcze i podjęło się zadania utworzenia Stowarzyszenia LGD. 15 grudnia 2015 odbyło
                    się pierwsze, założycielskie spotkanie. Podczas spotkania ustalono nazwę stowarzyszenia, uchwalony
                    został statut, wybrane zostały władze Stowarzyszenia. Komitet założycielski w dniu 21.12.2015
                    przekazał dokumenty do KRS, a wpis do rejestru uzyskaliśmy w lutym 2016.</p>
                <p>Od stycznia 2016 roku trwały intensywne prace Zespołu Roboczego nad opracowaniem Lokalnej Strategii
                    Rozwoju. Lokalna Strategia Rozwoju jest naszym strategicznym dokumentem, w którym znajdziemy
                    diagnozę obszaru, środowiska, opis partycypacyjnego charakteru tworzenia strategii, opis grup
                    docelowych, procedury wyboru operacji, cele, wskaźniki...</p>
                <p>W spotkaniach Zespołu Roboczego uczestniczyli przedstawiciele mieszkańców, instytucji, stowarzyszeń,
                    przedsiębiorcy, którzy zaangażowali się w prace nad strategią. Podczas spotkań wypracowano m.in.
                    analizę SWOT, ustalono grup osób, które zostaną objęte wsparciem, cele jakie chcemy osiągnąć
                    realizując Lokalną Strategię Rozwoju i wskaźniki, dzięki którym będziemy mierzyć i monitorować
                    postęp realizacji strategii. Pracy było naprawdę dużo, a efektem końcowym była Lokalna Strategia
                    Rozwoju dla Chełmna na lata 2016-2023, która została przyjęta w drodze uchwały przez Walne Zebranie
                    członków Stowarzyszenia.</p>
                <p>29 lutego 2016r. złożyliśmy wniosek do Urzędu Marszałkowskiego i przystąpiliśmy do konkursu na
                    finansowanie realizacji Lokalnej Strategii Rozwoju.</p>
                <p>Mamy Lokalną Grupę Działania oraz Lokalną Strategię Rozwoju - i co dalej?</p>
                <ul>
                    <li>Do roku 2020 będziemy realizować LSR organizując konkursy grantowe i finansując projekty służące
                        realizacji celów LSR.</li>
                    <li>Będziemy pozyskiwać dodatkowe środki na realizację projektów na rzecz mieszkańców Chełmna</li>
                    <li>Zorganizujemy szkolenia przygotowujące do pozyskiwania środków na realizację projektów</li>
                    <li>Zamierzamy wspierać rozwój i integrację społeczności lokalnej naszego miasta</li>
                </ul>
                <p>Siedziba Lokalnej Grupy Działania znajduje się przy ulicy Grudziądzka 36, parter (wejście od ul.
                    Podmurnej).</p>
                <h2>Zapraszamy</h2>
            </div>
        </main>
       
