* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(44, 44, 44);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ccc8c8;
    line-height: 1.6;
    letter-spacing: 0.11rem;
    background-image: url(./assets/backgroundimg.png);
    background-size: cover;
}

/* opcje dla header */

header {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    border-bottom: 1px solid black;
    width: 100vw;
    position: fixed;
    height: 15vh;
    background-color: #f9f9f9;
}

header img {
    padding: 10px 20px 10px 10px;
}

nav {
    display: block;
    align-items: center;
    width: 100%;
}

.nav-button {
    color: rgb(44, 44, 44);
    font-size: 17px;
    border: none;
    outline: none;
    padding: 14px 14px;
    height: 100%;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-button:hover {
    color: rgb(44, 44, 44);
    font-size: 17px;
    font-family: inherit;
    margin: 0;
}

.topnav {
    position: relative;
}

#myLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.topnav #myLinks {
    height: 100%;
}

.topnav a {
    color: rgb(44, 44, 44);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    text-decoration: underline;
    color: #4871b7;
}

/* dropdown styles */
.dropbtn {
    cursor: pointer;
}

.dropbtn::after {
    content: '\2304';
    padding-left: 5px;
}

.dropbtn:hover {
    text-decoration: underline;
    color: #4871b7;
}

.dropbtn a:hover {
    text-decoration: underline;
    color: #4871b7;
}

.dropdown {
    display: inline-block;
    overflow: hidden;
    height: 100%;
}

.dropdown-content-sto {
    display: none;
    position: absolute;
    top: 100%;
    left: 15%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: 5px solid #4871b7;
}

.dropdown-content-sto a {
    color: rgb(44, 44, 44);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 2;
}

.dropdown-content-sto a:hover {
    background-color: #ddd;
}

.dropdown-content-lsr {
    display: none;
    position: absolute;
    top: 100%;
    left: 25%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-top: 5px solid #4871b7;
}

.dropdown-content-lsr a {
    color: rgb(44, 44, 44);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 2;
}

.dropdown-content-lsr a:hover {
    background-color: #ddd;
}

.show {
    display: block;
    z-index: 1;
}

.dropdown-content.show {
    display: block;
    z-index: 1;
}


/* Strona Główna */

main {
    flex: 1;
    text-align: center;
}

h1 {
    font-size: 42px;
    padding-top: 20px;
}

h2 {
    font-size: 28px;
}

main h1 {
    color: #4871b7;
    margin-bottom: 20px;
}

main a {
    text-decoration: none;
    color: #4871b7;
}

.lane-1 h1 {
    padding-top: 0px;
}

.lane-1 {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin: 15px auto 0px auto
}

.lane-1 p {
    font-size: 16px;
    text-align: justify;
}

.about {
    width: 39%;
    text-align: center;
}

.rozbudzeni {
    width: 39%;
}

.aktualnosci {
    margin: 10px auto;
    width: 80%;
}

.aktualnosci h3 {
    color: #0ca638;
    font-size: 20px;
    text-align: center;
}

.aktualnosci h6 {
    text-align: center;
}

.aktualnosci span {
    display: block;
    margin: 0 auto;
}

.aktualnosci-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
}

.aklualnosc-wpis {
    display: flex;
    width: 99, 5%;
    border: 2px solid #4871b7;
    margin-bottom: 10px;
    padding: 10px 0;
}

.aktualnosci-tekst {
    width: 50%;
}

.aktualnosci p {
    margin: 0px 10px;
}

.czytaj-btn {
    background-color: #0ca638;
    color: white;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    padding: 0.5em 0.5em;
    width: 20%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    margin: 5px auto;
}

.czytaj-btn:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.czytaj-btn:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}

.aktualnosci-zdjecie {
    width: 50%;
}

.aktualnosci img {
    width: 100%;
    height: auto;
}

.polecamy {
    width: 80%;
    margin: 10px auto;
}

.polecamy-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.polecamy-container img {
    width: 50%;
    height: auto;
    transition: 0.5s;
}

.polecamy-container img:hover {
    scale: 1.2;
}

.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.animate.appear {
    opacity: 1;
    transform: translateY(0);
}

/* Strona: stowrzyszenie */

.container-stowarzyszenie {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left
}

.stowarzyszenie p {
    padding-top: 20px;
}

.stowarzyszenie ul {
    margin-left: 15px;
}

.stowarzyszenie h1 {
    text-align: center;
    margin-top: 10px;
}

.stowarzyszenie h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #0ca638;
}

/* strona: statutlgd */
.container-statutlgd {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.statutlgd p {
    padding-top: 20px;
}

.statutlgd h1 {
    text-align: center;
    margin-top: 10px;
}

.statutlgd h2 {
    margin-top: 30px;
    color: #0ca638;
    ;
}

.statutlgd a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.statutlgd a:hover {
    color: #fab900;
    text-decoration: underline;
}

.statutlgd ul {
    list-style: none;
}

/* strona: radalgd */
.container-radalgd {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.radalgd p {
    padding-top: 20px;
}

.radalgd h1 {
    text-align: center;
    margin-top: 10px;
}

.radalgd h2 {
    color: #0ca638;
    margin: 20px 0;
}

.h2-center {
    text-align: center;
}

.radalgd a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}

.radalgd a:hover {
    text-decoration: underline;
    color: #fab900;
}

table {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td,
th,
tr {
    border: 1px solid black;
    padding: 10px;
}

/* strona: zarzadlgd */
.container-zarzadlgd {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.zarzadlgd p {
    padding-top: 20px;
}

.zarzadlgd h1 {
    text-align: center;
    margin-top: 10px;
}

.zarzadlgd h2 {
    color: #0ca638;
    margin: 20px 0;
}

.zarzadlgd ul {
    list-style: none;
}

.zarzadlgd .sprawozdania {
    margin-bottom: 20px;
    margin-top: 200px;
}

.zarzadlgd a {
    color: rgb(44, 44, 44);
    text-decoration: none;
}

.zarzadlgd a:hover {
    text-decoration: underline;
    color: #fab900;
}

/* strona: komisja rewizyjna */
.container-komisjarewizyjna {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.komisjarewizyjna p {
    padding-top: 20px;
}

.komisjarewizyjna h1 {
    text-align: center;
    margin-top: 10px;
}

.komisjarewizyjna h2 {
    color: #0ca638;
    margin: 20px 0;
}

.komisjarewizyjna ul {
    list-style: none;
}

.komisjarewizyjna a {
    color: rgb(44, 44, 44);
    text-decoration: none;
}

.komisjarewizyjna a:hover {
    text-decoration: underline;
    color: #fab900;
}

/* strona: czlonkostwo w lgd */
.container-czlonkostwo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.czlonkostwolgd p {
    padding-top: 20px;
}

.czlonkostwolgd h1 {
    text-align: center;
    margin-top: 10px;
}

.czlonkostwolgd h2 {
    color: #0ca638;
    margin: 20px 0;
}

.czlonkostwolgd ul {
    list-style: none;
}

.czlonkostwolgd a {
    color: rgb(44, 44, 44);
    text-decoration: none;
}

.czlonkostwolgd a:hover {
    text-decoration: underline;
    color: #fab900;
}

.czlonkostwolgd ol,
li {
    margin-left: 20px;
}

.czlonkostwolgd table {
    width: 100%;
}

/* strona: RODO */
.container-rodo {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.rodo p {
    padding-top: 20px;
}

.rodo h1 {
    text-align: center;
    margin-top: 10px;
}

.rodo h2 {
    color: #0ca638;
    margin: 20px 0;
}

.rodo ul {
    list-style: none;
}

.rodo a {
    color: rgb(44, 44, 44);
    text-decoration: none;
}

.rodo ul,
ol {
    margin-top: 20px;
    margin-bottom: 15px;
}

.rodo li {
    margin-top: 10px;
}

.rodo ul {
    list-style: disc;
}

/* strona: lsr-2016 */
.container-lsr-2016 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.lsr-2016 p {
    padding-top: 20px;
}

.lsr-2016 h1 {
    text-align: center;
    margin-top: 10px;
}

.lsr-2016 h2 {
    color: #0ca638;
    margin: 20px 0;
}

.lsr-2016 ul {
    list-style: none;
}

.lsr-2016 li {
    margin-left: 0;
}

.disc ul {
    list-style: disc;
    margin-left: 15px;
}

.disc li {
    margin: 10px 0;
}

.lsr-2016 a {
    color: rgb(44, 44, 44);
    text-decoration: none;
}

.lsr-2016 a:hover {
    text-decoration: underline;
    color: #fab900;
}

/* strona: konkursy */
.container-konkursy {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.tabs-container {
    display: flex;
    flex-wrap: wrap;
}

.tab {
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
    margin: 0;
    border: none;
    border-radius: 5px 5px 0 0;
    background-color: #f1f1f1;
}

.tab:hover {
    background-color: #ddd;
}

.tab.active {
    background-color: #0ca638;
    color: white;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 5px;
}

.tab-content.active {
    display: block;
}

/* strona: projekty */
.container-projekty {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.projekty h1 {
    text-align: center;
}

.projekty h3 {
    color: #0ca638;
    font-size: 20px;
    text-align: center;
}

.projekty h6 {
    text-align: center;
}

.projekty span {
    display: block;
    margin: 0 auto;
}

.projekty-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
}

.projekty-wpis {
    display: flex;
    width: 100%;
    border: 2px solid #4871b7;
    margin-bottom: 10px;
    padding: 10px 0;
}

.projekty-tekst {
    width: 100%;
}

.projekty p {
    margin: 0px 10px;
}

.projekty-zdjecie {
    width: 100%;
}

.projekty img {
    width: 100%;
    height: auto;
}

/* Strona: kontakt */
.container-kontakt {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: 20px;
}

.kontakt p {
    padding-top: 20px;
}

.kontakt h1 {
    text-align: center;
}

.kontakt ul {
    list-style: none;
}

.kontakt li {
    padding-top: 10px;
    display: flex;
}

.dane-kontaktowe {
    margin-bottom: 200px;
}

.icon-kontakt {
    width: 15px;
    margin-right: 10px;
}

.kontakt img {
    width: 300px;
    height: auto;
    position: absolute;
    top: 350px;
    left: 800px;
}

/* opcje dla footer */

footer {
    background-color: #4871b7;
    color: white;
    font-weight: bold;
}

.baner {
    width: 100%;
}

.baner img {
    max-width: 100%;
}

.social-media {
    position: relative;
}

.social-media img {
    width: 30px;
    height: auto;
    padding: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer ul {
    list-style: none;
}

footer li {
    padding-top: 10px;
    display: flex;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #92b4f0;
}

.icon {
    width: 15px;
    margin-right: 10px;
}

.space a {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

/* mediaquerys */
/* mediaquery header */
@media (max-width: 1399px) {
    .topnav {
        position: relative;
    }

    #myLinks {
        color: rgb(44, 44, 44);
        display: flex;
        position: absolute;
        top: 100%;
        right: 100%;
        width: 45%;
        height: 250px;
        background-color: #f9f9f9;
    }

    .topnav a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        display: block;
        color: white;
        background-color: #4871b7;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a.icon:hover {
        color: white;
    }

    .nav-button {
        width: 100%;
        height: 70px;
        color: rgb(44, 44, 44);
    }

    .nav-button:hover {
        color: #4871b7;
        background-color: #ddd
    }

    /* dropdown styles */
    .dropbtn::after {
        content: ' \27A4'
    }

    .dropdown {
        display: inline-block;
        overflow: hidden;
        height: 100%;
    }

    .dropdown-content-sto {
        display: none;
        position: absolute;
        top: 45%;
        left: 100%;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content-sto a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 2;
    }

    .dropdown-content-sto a:hover {
        background-color: #ddd;
    }

    .dropdown-content-lsr {
        display: none;
        position: absolute;
        top: 85%;
        left: 100%;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content-lsr a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 2;
    }

    .dropdown-content-lsr a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
        z-index: 1;
    }

    .dropdown-content.show {
        display: block;
        z-index: 1;
    }
}

/* mediaquery footer */
@media (max-width: 1300px) {

    .footer-content {
        flex-direction: column;
    }

    .lane-1 {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .about {
        width: 100%;
    }

    .rozbudzeni {
        width: 100%;
    }

    .aklualnosc-wpis {
        flex-direction: column-reverse
    }

    .polecamy {
        flex-direction: column;
    }

    .polecamy-container {
        flex-direction: column;
    }

    .projekty-wpis {
        flex-direction: column-reverse;
    }
}

@media (max-width: 450px) {
    .topnav {
        position: relative;
    }

    #myLinks {
        color: rgb(44, 44, 44);
        display: flex;
        position: absolute;
        top: 100%;
        right: 50%;
        width: 200%;
        height: 250px;
        background-color: #f9f9f9;
    }

    .topnav a {
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav a.icon {
        display: block;
        color: white;
        background-color: #4871b7;
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav a.icon:hover {
        color: white;
    }

    .nav-button {
        width: 100%;
        height: 70px;
        color: rgb(44, 44, 44);
    }

    .nav-button:hover {
        color: #4871b7;
        background-color: #ddd
    }

    /* dropdown styles */
    .dropbtn::after {
        content: '\2304';
        padding-left: 5px;
    }

    .dropdown {
        display: inline-block;
        overflow: hidden;
        height: 100%;
    }

    .dropdown-content-sto {
        display: none;
        position: absolute;
        top: 110%;
        left: 0%;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content-sto a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 2;
    }

    .dropdown-content-sto a:hover {
        background-color: #ddd;
    }

    .dropdown-content-lsr {
        display: none;
        position: absolute;
        top: 160%;
        left: 0%;
        background-color: #f9f9f9;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content-lsr a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        z-index: 2;
    }

    .dropdown-content-lsr a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
        z-index: 1;
    }

    .dropdown-content.show {
        display: block;
        z-index: 1;
    }
}