---
title: LGD Chełmno - Zarząd LGD
layout: 'base.njk'
---

    <main class="zarzadlgd">
        <div class="container-zarzadlgd">
            <h1>Zarząd Stowarzyczenia Lokalna Grupa Działania - Organ Wykonawczy</h1>
            <p>Zarząd, składający się z 5 członków kieruje bieżącymi pracami Stowarzyszenia, mając do dyspozycji
                personel Biura LGD. Wybór członków Zarządu dokonany został podczas Walnego Zebrania Członków. Następnie spośród wybranych członków,
                dokonano wyboru ze swego grona Prezesa, Wiceprezesa, Sekretarza, Skarbnika i Członka Zarządu.</p>
            <div>
                <a href="./assets/regulamin-Zarzadu-zatwierdzone-przez-WZC-09.03.2017.pdf" target="_blank">Regulamin
                    zarządu</a>
            </div>
            <h2>Skład Zarządu Lokalnej Grupy Działania Chełmno w latach 2018 - nadal:</h2>
            <ul>
                <li>Rajtar-Pilarska Joanna - Prezes</li>
                <li>Piotrowski Waldemar - Wiceprezes</li>
                <li>Mrozek Magdalena - Sekretarz</li>
                <li>Brzezińska Kinga Natalia - Skarbnik</li>
                <li>Wolska Anna - Członek</li>
            </ul>
            <div class="sprawozdania">
                <h2>Sprawozdania merytoryczne z działalności Zarządu LGD Chełmno</h2>
                <ul>
                    <li><a href="/assets/Sprawozdanie-merytoryczne-2015.pdf" target="_blank">Sprawozdanie merytoryczne
                            z
                            działalności Zarządu 2015</a></li>
                    <li><a href="/assets/Sprawozdanie-merytoryczne-z-działalnościi-Zarządu-za-2016.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Zarządu za 2016</a></li>
                    <li><a href="/assets/Sprawozdanie-merytoryczne-za-rok-2017.pdf" target="_blank">Sprawozdanie
                            merytoryczne z
                            działalności Zarządu za 2017</a></li>
                    <li><a href="/assets/Sprawozdanie-merytoryczne-z-działalności-Zarządu-za-2018.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Zarządu za 2018</a></li>
                    <li><a href="/assets/Sprawozdanie-merytoryczne-z-działalności-Stowarzyszenia-2018.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Stowarzyszenia 2018</a></li>
         <li><a href="/assets/2019_sprawozdanie_merytoryczne_Zarządu.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Zarządu za 2019</a></li>
                 <li><a href="/assets/2019_sprawozdanie_merytoryczne_stowarzyszenia.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Stowarzyszenia 2019</a></li>
        <li><a href="l.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Zarządu za 2020</a></li>
           <li><a href="/assets/2020_sprawozdanie merytoryczne stowarzyszenia.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Stowarzyszenia 2020</a></li>
         <li><a href="/assets/2021_sprawozdanie merytoryczne z działalności Zarządu.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Zarządu za 2021</a></li>
           <li><a href="/assets/2021_sprawozdanie merytoryczne z działalnosci stowarzyszenia_2021.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Stowarzyszenia 2021</a></li>
         <li><a href="/assets/uchwała 3 2023 - załącznik sprawozdanie merytoryczne Zarządu.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Zarządu za 2022</a></li>
           <li><a href="/assets/2022_sprawozdanie merytoryczne.pdf"
                            target="_blank">Sprawozdanie merytoryczne z działalności Stowarzyszenia 2022</a></li>
                </ul>
                <h2>Sprawozdania finansowe Stowarzyszenia LGD Chełmno</h2>
                <ul>
                    <li><a href="/assets/Sprawozdanie-finansowe-2015-PDF.pdf" target="_blank">Sprawozdanie finansowe
                            2015</a>
                    </li>
                    <li><a href="/assets/Sprawozdanie-finansowe-2016.pdf" target="_blank">Sprawozdanie finansowe
                            2016</a>
                    </li>
                    <li><a href="/assets/Sprawozdanie-finansowe-2017.pdf" target="_blank">Sprawozdanie finansowe
                            2017</a>
                    </li>
                    <li><a href="/assets/Sprawozdanie-finansowe-2018.pdf" target="_blank">Sprawozdanie finansowe
                            2018</a>
                    </li>  
                    <li><a href="/assets/2019_sprawozdanie_finansowe.pdf" target="_blank">Sprawozdanie finansowe
                            2019</a>
                    </li>
                               <li><a href="/assets/2020_sprawozdanie finansowe.pdf" target="_blank">Sprawozdanie finansowe
                            2020</a>
                    </li>
                               <li><a href="/assets/2021_Sprawozdanie_finansowe.pdf" target="_blank">Sprawozdanie finansowe
                            2021</a>
                    </li>
                          <li><a href="/assets/2022_sprawozdanie finansowe.pdf" target="_blank">Sprawozdanie finansowe
                            2022</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    
